absl-py==0.9.0
arrow==0.15.5
asgiref==3.5.0
astroid==2.3.2
astunparse==1.6.3
attrs==19.3.0
Automat==0.8.0
backcall==0.2.0
beautifulsoup4==4.8.1
binaryornot==0.4.4
bleach==3.1.5
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==5.2.0
constantly==15.1.0
cookiecutter==1.7.0
cookiejar==0.0.2
cryptography==2.8
cv==1.0.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.2.11
entrypoints==0.3
freegames==2.3.2
future==0.18.2
gast==0.3.3
geocoder==1.38.1
geographiclib==1.50
geopy==1.22.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.7.0
incremental==17.5.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
Jinja2==2.10.3
jinja2-time==0.2.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab-server==1.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.2
lxml==4.4.1
maproxy==0.0.12
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mechanize==0.4.5
mistune==0.8.4
MouseInfo==0.1.2
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.17.3
oauthlib==3.1.0
opencv-contrib-python==4.1.2.30
opt-einsum==3.3.0
packaging==20.4
pager==3.3
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==6.2.0
poyo==0.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
pyasn1==0.4.7
pyasn1-modules==0.2.7
PyAudio==0.2.11
PyAutoGUI==0.9.48
pycparser==2.19
pydub==0.25.1
PyGetWindow==0.0.7
Pygments==2.6.1
PyHamcrest==1.9.0
pylint==2.4.3
PyMsgBox==1.0.7
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyperclip==1.7.0
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.24
python-dateutil==2.8.1
pyttsx3==2.71
PyTweening==1.0.3
pytz==2020.1
pywin32==225
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
ratelim==0.1.6
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
schedule==0.6.0
scikit-learn==0.23.2
scipy==1.4.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
soupsieve==1.9.4
SpeechRecognition==3.8.1
sqlparse==0.4.2
tabulate==0.8.10
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.3.0
tensorflow-gpu-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tk-html-widgets==0.4.0
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
typing-extensions==4.0.1
uritemplate==3.0.0
urllib3==1.25.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.11.2
zipp==3.1.0
zope.interface==4.7.1
