.backBanner{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.joinUs{
    width: 40%;
    /* height: 80%; */
    max-width: 400px;
    background-color: rgba(68, 90, 153, 0.051);
    box-shadow: 0px 0px 29.4px 0.6px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 10px;
}
.joinUs section{
    font-size: 25px;
    color: #31d7a9;
    text-align: center;
    margin-bottom: 10px;
}
.joinUs h2{
    text-align: center;
    font-size: 30px;   
}
.inputFields{
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}
.colgr{
    display: flex;
}
.grt h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 350;
}
.grt span{
    color: red;
}
.grt{
    width: 100%;
    margin: 10px;
}
.grt input{
    margin: 20px 0px;
    height: 20px;
    background: transparent;
    border: none;
    color: whitesmoke;
    font-size: 15px;
    outline: none;
    border-bottom: 1px solid #23334f;
    width: 100%;
    padding-bottom: 7px;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton{
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}
.already{
     margin: 10px auto;
}
.already a{
    margin-left: 5px;
    color: #31d7a9;
    text-decoration: none;
}
@media screen and (max-width: 900px) and (min-width: 600px){
    .joinUs{
          width: 50%;
    }
}

@media screen and (max-width: 600px) and (min-width: 350px){

    .joinUs{
        width: 90%;
    }
    .backBanner{
        width: 100%;
    }
}